 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
 }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;
        color: #458dd4;
    }
    p {
        margin-bottom: 15px;
    }
    a {
        color: #3498db;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline #458dd4;
    }

    .menu {
        margin-bottom: 20px;
        padding: 0.8em;
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #e3e3e3;
        border-radius: 5px;
    }
    .menu li {
        margin-right: 20px;
        border: #999292 1px solid;
        padding: 0.8em;
        border-radius: 2px;

    }
    .menu li:hover {
        background-color: #d4d4d4;
        border: #5f5151 1px solid;
        transform: translateY(-5px);
    }
    .menu a {
        margin-right: 15px;
        font-weight: bold;
        padding: 5px 10px;
    } 
    .menu a:hover {
        color: #24445e;
    }